/**
 * In this file the user can set preferred defines for its own custom builds;
 *
 * This is a sample file; You should make a copy of it named "user_config.h" and then:
 * -if compiling with GCC use "-DINCLUDE_USER_CONFIG_H",
 * -if compiling with STM IDE select, on build drop down menu, "C1baccableDiesel+user_config" or any other "....+user_config"
 *
 * Build drop down menu in STM IDE is populated with compilation options.
 * The compilation options are defined in menu "Project" -> "Properties" -> "C/C++ Build" -> "Settings" -> "MCU GCC Compiler" -> "Preprocessor"
 *
*/

#ifndef INC_USER_CONFIG_H_SAMPLE_
	#define INC_USER_CONFIG_H_SAMPLE_

	// The following defines are used, if uncommented, by C1baccable board:

	// #define LARGE_DISPLAY 					// if uncommented it uses longer strings on dashboard. Note: requires adaptations to array strings in order to show some more longer text. Under development. don't use it.
	// #define DISABLE_UCAN_BOARD_LED_INVERSION	// if uncommented it uses onboard leds configuration for canable board (default value is used for ucan board and baccable custom board).
	// #define DISABLE_CLEAR_FAULTS_ENABLED		// if uncommented it disables the clear faults functionality.  It can disabled inside baccable SETUP menu.
	// #define DISABLE_LOW_CONSUME				// if uncommented it disables low consume functionality
	// #define DISABLE_IMMOBILIZER 				// if uncommented it disables immobilizer functionality. It can be enabled with button press, according to manual
	// #define PERMANENTLY_DISABLE_IMMO			// if uncommented it permanently disables immobilizer functionality
	// #define DISABLE_THE_FUNCTION_SMART_DISABLE_START_STOP	//if uncommented it disables the start&stop functionality (active by default). It can disabled inside baccable SETUP menu.
	// #define SHIFT_THRESHOLD 2500				//if uncommented it overwrites default shift rpm threshod, used in "shift"functionality. It can be changed runtime from baccable SETUP menu.
	// #define SHIFT_INDICATOR_ENABLED 			// if uncommented it enables shift functionality. It can enabled inside baccable SETUP menu.
	// #define LED_STRIP_CONTROLLER_ENABLED		// if uncommented it enables led strip controller functionality. It can enabled inside baccable SETUP menu.
	// #define IPC_MY23_IS_INSTALLED			// if uncommented it considers the presence of a my23 IPC. It is used in "shift" functionality. It can enabled inside baccable SETUP menu.
	// #define ROUTE_MSG 						// if uncommented it enables "route" functionality. It can enabled inside baccable SETUP menu.
	// #define DYNO_MODE_MASTER 				// if uncommented it allows to request DYNO functionality in C1 baccable. It can enabled inside baccable SETUP menu.
	// #define ESC_TC_CUSTOMIZATOR_MASTER 		// if uncommented it allows to request ESC/TC functionality in C1 baccable. It can enabled inside baccable SETUP menu
	// #define ACC_VIRTUAL_PAD					// if uncommented it will enable "ACC virtual pad"functionality. It can enabled inside baccable SETUP menu
	// #define FRONT_BRAKE_FORCER_MASTER 		// if uncommented it will enable "front brake forcer" functionality in C1 baccable. It can enabled inside baccable SETUP menu
	// #define LAUNCH_ASSIST_THRESHOLD 100		// if uncommented it will set torque force (default is 100Nm) used in the functionality Launch assist, part of front brake forcer functionality. It can be set inside baccable SETUP menu
	// #define _4WD_DISABLER 					// if uncommented it will enable "4WD" functionality in C1 baccable. It can enabled inside baccable SETUP menu
	// #define REMOTE_START_ENABLED				// if uncommented it will enable "remote start" functionality. Experimental: it doesn't work yet. don't use it! It can enabled inside baccable SETUP menu
	// #define READ_FAULTS_ENABLED				// if uncommented it will enable "read faults" functionality. Experimental: it doesn't work yet. don't use it! It can enabled inside baccable SETUP menu
	// #define REGENERATION_ALERT_ENABLED		// if uncommented it will enable "regeneration alert"functionality.  It can enabled inside baccable SETUP menu.
	// #define DISABLE_DPF_REGEN_VISUAL_ALERT	// if uncommented it will disable visual alert in "DPF regeneration alert functionality"
	// #define DISABLE_DPF_REGEN_SOUND_ALERT	// if uncommented it will disable sound alert in "DPF regeneration alert functionality"
	// #define SEATBELT_ALARM_DISABLED			// if uncommented it will disable "seatbelt alarm " functionality.  It can changed inside baccable SETUP menu.
	// #define TORQUE_CORRECTION_FACTOR 1.22	// if uncommented it will multiply torque by this factor.
	// #define PEDAL_BOOSTER_ENABLED 1			// if uncommented it will enable pedal booster function. Experimental: it doesn't work yet. don't use it! You have to Assign its value according to the following legend: 0=disabled, 1=Auto map, 2=Bypass, 3=A Map, 4=N Map, 5=D Map, 6=R Map. It can be changed inside baccable SETUP menu.
	// #define DISABLE_ODOMETER_BLINK			// if uncommented it will disable odometer blink on dashboard.  It can changed inside baccable SETUP menu.
	// #define SHOW_RACE_MASK					// if uncommented it will show race screen when the function ESC/TC is in use.  It can changed inside baccable SETUP menu.
	// #define HIDE_DASHBOARD_MENU				// if uncommented it will permanently hide baccable dashboard menu. Useful to statically set some functions like immo and start&stop without the availability of baccable menu commands.
	
	// Demo on how to customize dashboard items inside SHOW PARAMS menù.
	// Note: #define shall be on a single line. That's why we put \ at the end for readability
	//
	// X() params are:
	//
	// _itemUniqueId, _name, _reqId, _reqLen, _reqData, _replyId, _replyLen, _replyOffset, _replyValOffset, _replyScale, _replyScaleOffset, _replyDecimalDigits, _replyMeasurementUnit
	//
	// _itemUniqueId must be unique as the name suggests and it's up to the user (if not unique it won't compile)
	//
	// have a look at uds_params_array in globalVariables.c to get an idea of values you should put for you engine type
	//
	// This example show just 4 params; when building for Diesel then the Gasoline list of params will just have 1 element labeled as "Missing"
	// and vice versa
	// if uncommented it will use the following items to popupate  SHOW PARAMS menu
	/*
	#define DASHBOARD_ITEMS \
		X(IT_POWER, "Power: ", 0x11, 4, 0, 0xFB, 2, 0, -500, 0.000142378, 0, 1, "Hp") \
		X(IT_TORQUE, "Torque: ", 0x12, 4, 0, 0xFB, 2, 0, 0, 1, -500, 0, "Nm") \
		X(IT_OIL_PRESS, "Oil press: ", 0x10, 4, 0, 0x04B2, 2, 0, 0, 0.1, 0, 1, "bar") \
		X(IT_WATER_TEMP, "Water: ", 0x18DA10F1, 4, 0x03221003, 0x18DAF110, 2, 0, 0, 0.02, -40, 1, "\xB0" "C")
	*/
	
	
	// The following defines are used, if uncommented, by C2baccable board:

	// #define DISABLE_ESC_TC_CUSTOMIZATOR 		// if uncommented it will disable "ESC/TC" functionality.
	// #define DISABLE_DYNO_MODE 				// if uncommented it will disable "DYNO" functionality.
	// #define DISABLE_FRONT_BRAKE_FORCER 		// if uncommented it will disable "front brake forcer" functionality.
	// #define DISABLE_CLEAR_FAULTS_C2 			// if uncommented it will disable "clear faults" functionality.





	// The following defines are used, if uncommented, by BHbaccable board:

	// #define DISABLE_CLEAR_FAULTS_BH 			// if uncommented it will disable "clear faults" functionality.
	// #define DISPLAY_INFO_CODE 0x09			// if uncommented it will display preferred icon on dashboard (0x05=Aux, 0x06=left USB, 0x07=Right USB, 0x08=Center USB, 0x09=Bluetooth) but it may cause temporary screen freeze and string overlapping if other devices in the car tries to print the same string on dashboard.
	// Note: The define DISABLE_ODOMETER_BLINK in C1 section above, applies to BH too (in case you use a single canable board on BH to disable odometer blink on dashboard)
	
#endif /* INC_USER_CONFIG_H_SAMPLE_ */
