BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
IndentPPDirectives: BeforeHash
